{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "root": true,
  "plugins": ["import", "prettier", "react"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "react-app"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "react/prop-types": "off",
    "no-inline-comments": "error",
    "import/newline-after-import": ["error", { "count": 1 }],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
