@font-face {
  font-family: 'Aktiv-Black';
  src: local('Aktiv-Black'), url('../fonts/Aktiv/AktivGrotesk-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Aktiv-Bold';
  src: local('Aktiv-Bold'), url('../fonts/Aktiv/AktivGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Aktiv-Medium';
  src: local('Aktiv-Medium'), url('../fonts/Aktiv/AktivGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Aktiv-Regular';
  src: local('Aktiv-Regular'), url('../fonts/Aktiv/AktivGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Aktiv-Light';
  src: local('Aktiv-Light'), url('../fonts/Aktiv/AktivGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Aktiv-Thin';
  src: local('Aktiv-Thin'), url('../fonts/Aktiv/AktivGrotesk-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: local('IBMPlexMono-Regular'), url('../fonts/IBMPlexMono/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: local('IBMPlexMono-Regular'), url('../fonts/IBMPlexMono/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono-SemiBold';
  src: local('IBMPlexMono-SemiBold'), url('../fonts/IBMPlexMono/IBMPlexMono-SemiBold.ttf') format('truetype');
}

h1 {
  font-family: 'Aktiv-Black';
}

h2 {
  font-family: 'Aktiv-Bold';
}

h3 {
  font-family: 'Aktiv-Medium';
}

span,
a,
button {
  font-family: 'Aktiv-Regular';
}

p,
li {
  font-family: 'Aktiv-Light';
}

h6 {
  font-family: 'Aktiv-Thin';
}
