@import './css/customClasses.css';
@import './css/customFonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  @apply bg-amber-100;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 125px;
  @apply bg-amber-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code-font {
  font-family: monospace;
}
