@tailwind base;
@tailwind components;
@tailwind utilities;

@import './css/customClasses.css';
@import './fonts/AktivGrotesk/AktivGrotesk.css';
@import './fonts/IBMPlexMono/IBMPlexMono.css';
@import './css/pageTransitions.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
main,
.App {
  @apply bg-amber-100;
}

main {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 92vh;
  overflow-y: scroll;
}

.code-font {
  font-family: monospace;
}

@media screen and (max-width: 700px) {
  body::-webkit-scrollbar {
    display: none;
  }

  body::-webkit-scrollbar-thumb {
    display: none;
  }
}

.cvPoint {
  position: relative;
}

.cvPoint:after {
  content: '';
  height: 90%;
  width: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
}

.active {
  position: relative;
}

.active::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 10px solid #5046e5;
  border-radius: 5px;
}

.mobileNavBar > * > * .active::after {
  content: '';
  position: absolute;
  top: 0;
  right: 103%;
  width: 100%;
  height: 100%;
  border-right: 120px solid #5046e5;
  border-top: none;
  border-radius: 5px;
}

.mobActive {
  position: relative;
}

.mobActive::after {
  content: '';
  position: absolute;
  top: 0;
  right: 110%;
  width: 100%;
  height: 90%;
  border-right: 120px solid #5046e5;
  border-top: none;
  border-radius: 5px;
}

.mobileNavBar > * > * > .NavLink {
  padding-left: 0.22em;
}

.mobileNavBar > * > * .active::before {
  display: none;
}

.mobileNavBar > * > * .active {
  position: relative;
}

.mobileNavBar {
  opacity: 1;
  z-index: 30;
}

.stackRow:nth-child(2n) {
  flex-basis: 100%;
}

.projectImage {
  z-index: 5;
}

.projectInfoBox {
  z-index: 12;
}

.rotateElement {
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}

.shadowTop {
  box-shadow: 0 0px 25px -8px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.navContentMob {
  background: rgb(255, 244, 199);
  background: linear-gradient(180deg, rgba(255, 244, 199, 1) 64%, rgba(255, 255, 255, 0) 100%);
}

.navbarUnderline {
  position: absolute;
  top: 0;
  right: 110%;
  width: 100%;
  height: 90%;
  border-right: 120px solid #5046e5;
  border-top: none;
  border-radius: 5px;
}
